.navbar {
    height: 40px;
}
.btn-group {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3px;
}

.btn-links {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

b {
    color:white;
    margin-right: 20px;
}

.btn-social {
    margin-left: 7px;
    margin-right: 7px;
}

.bi {
    color:white;
}