
<nav class="navbar navbar-dark" style="background-color: #141414;">
  <div class="btn-group btn-group-sm" role="group" aria-label="sign up">
    <button type="submit" class="btn btn-links"> RÉMY MARTIN </button>
    <b> | </b>
    <button type="submit" class="btn btn-links"> FEATURED </button>
    <b> | </b>
    <button type="submit" class="btn btn-links"> CHARTS </button>
    <b> | </b>
    <button type="submit" class="btn btn-links"> VIDEOS </button>
    <b> | </b>
    <button type="submit" class="btn btn-links"> SHOP </button>
    <b> | </b>

    <button type="submit" class="btn btn-social"> 
      <svg class="bi" width="15" height="15" fill="currentColor">
        <use xlink:href="/assets/bootstrap-icons.svg#facebook"/>
      </svg>
    </button>

    <button type="submit" class="btn btn-social"> 
      <svg class="bi" width="17" height="17" fill="currentColor">
        <use xlink:href="/assets/bootstrap-icons.svg#twitter"/>
      </svg>
    </button>

    <button type="submit" class="btn btn-social"> 
      <svg class="bi" width="17" height="17" fill="currentColor">
        <use xlink:href="/assets/bootstrap-icons.svg#instagram"/>
      </svg>  
    </button>

    <button type="submit" class="btn btn-social"> 
      <svg class="bi" width="17" height="17" fill="currentColor">
        <use xlink:href="/assets/bootstrap-icons.svg#youtube"/>
      </svg>
    </button>
  </div>
</nav>