
<nav class="navbar sticky-top navbar-dark bg-dark">
  <div class="centered">
    <button type="button" class="btn btn-sm btn-outline-light"> REMY MARTIN </button>
    <button type="button" class="btn btn-sm btn-outline-light"> FEATURED </button>
    <button type="button" class="btn btn-sm btn-outline-light"> CHARTS </button>
    <button type="button" class="btn btn-sm btn-outline-light"> VIDEOS </button>
    <button type="button" class="btn btn-sm btn-outline-light"> SHOP </button>
    <button type="button" class="btn btn-sm btn-outline-light"> 
      <img src="/assets/facebook.svg" width=20 height=20></button>
    <button type="button" class="btn btn-sm btn-outline-light"> 
      <img src="/assets/twitter.svg" width=20 height=20></button>
    <button type="button" class="btn btn-sm btn-outline-light"> 
      <img src="/assets/instagram.svg" width=20 height=20></button>
    <button type="button" class="btn btn-sm btn-outline-light"> 
      <img src="/assets/youtube.svg" width=20 height=20></button>
  </div>
</nav>