<nav class="navbar navbar-light" style="background-color: #FEF700">
    <div class="container-fluid">

        <form class="d-flex justify-content-start">
        <input class="form-control me-2" type="search" placeholder="Search lyrics & more">
        <button class="btn btn-light" type="submit">
            <img src="/assets/search.svg" width=20 height=20>
        </button>
      </form>

        <div class="logo">
            <a class="navbar-brand" href="#">
                <img src="/assets/genius.png" width=150 height=50>
            </a>
        </div>
      
      <div class="d-flex flex-row-reverse bd-highlight">
        <div class="p-2 bd-highlight">
            <a class="navbar-brand" href="#">SIGN IN</a>
        </div>
        <div class="p-2 bd-highlight">
            <a class="navbar-brand" href="#">SIGN UP</a>
        </div>
      </div>

    </div>
  </nav>

