<nav class="navbar navbar-light" style="background-color: #ffff64">
    <div class="container-fluid">
        <form class="d-flex justify-content-start">
        <input class="form-control me-2" type="search" placeholder="Search lyrics & more">
        <button class="btn btn-link" type="submit">
          <svg class="bi" width="15" height="15" fill="currentColor">
            <use xlink:href="/assets/bootstrap-icons.svg#search"/>
          </svg>
        </button>
        </form>

        <div class="logo">
          <a class="navbar-brand mx-auto" href="#">
                <img src="/assets/genius.png" width="150px" height="50px">
          </a>
        </div>

        <div class="btn-group btn-group-sm" role="group" aria-label="sign up">
          <button class="btn btn-sign" type="submit">SIGN UP</button>
          <button class="btn btn-sign" type="submit">SIGN IN</button>
        </div>

    </div>
  </nav>

