<nav class="navbar navbar-light" style="background-color: #FEF700">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="/assets/genius.png" width=150 height=50>
      </a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search lyrics & more" aria-label="Search">
        <button class="btn btn-light" type="submit" aria-label="Search">
            <svg class="bi" width="20" height="20" fill="black">
                <use xlink:href="bootstrap-icons.svg#search"/>
            </svg>
        </button>
      </form>
    </div>
  </nav>

