nav.navbar {
    height: 40px;
}

.logo {
    margin-top: -12px;
    padding-right: 130px;
}

form.d-flex {
    margin-top: -12px;
    margin-left: -5px;
    height: 30px;
}

input.form-control {
    width: 250px;
}

.form-control::placeholder {
    color:black;
    font-size: 15px;
}

.btn-link{
    margin-left: -40px;
}

.bi{
    margin-top: -8px;
    margin-right: -10px;
    color: black;
}

.btn-group{
    margin-top: -10px;
}

.btn-sign {
    font-size:12px;
}
