
<genius-searchbar></genius-searchbar>
<genius-linkbar></genius-linkbar>
<br>
<mainnews-card></mainnews-card>
<br><br>
<div class="d-flex justify-content-center">
    <div class="px-4 divider">
        <subnews-card title="Florence + The Machine Evoke “Joy, Fury, And Grief” On New Song “Heaven Is Here”"
        author="Ken Partridge" date="Mar 8 2022" img="https://t2.genius.com/unsafe/142x142/https%3A%2F%2Fimages.genius.com%2F6a49862b3073349504af5dd9d1112905.1400x1400x1.jpg"></subnews-card>
    </div>
    <div class="px-4 divider">
        <subnews-card title="Genius Partners With Remy Martin To Trace The History of Black Music in America"
        author="Genius" date="Dec 10 2021" img="https://t2.genius.com/unsafe/1200x675/https%3A%2F%2Fimages.genius.com%2F11c859620f111b9be50b45d5f0059df6.1920x1080x1.png"></subnews-card>
    </div>
    <div class="px-4 divider">
        <subnews-card title="Dave Searches For His Perfect Girl On New Song “Starlight”"
        author="Leah Degrazia" date="Mar 7 2022" img="https://t2.genius.com/unsafe/91x91/https%3A%2F%2Fimages.genius.com%2F47fc59b89a516d78bab34c36a354d50f.1000x1000x1.png"></subnews-card>
    </div>
    <div class="px-4 right-end">
        <subnews-card title="Gucci Mane Fires Back At YoungBoy Never Broke Again On New Song “Publicity Stunt”"
        author="Ken Partridge" date="Mar 7 2022" img="https://t2.genius.com/unsafe/91x91/https%3A%2F%2Fimages.genius.com%2F387d5fe4307af66b17146c4f9006a303.1000x1000x1.png"></subnews-card>
    </div>
</div>
<br><br><br><br>