<div class="card" style="width: 15rem;">
    <div class="card-body">
      <div id="card-content">NEWS</div>
      <h5 class="card-title">This is the Greatest Article of All Time</h5>
      <div id="foot">
        <h6 class="card-author card-subtitle mb-2">by Kanye West / </h6>
        <h6 class="card-date card-subtitle mb-2 text-muted">Feb 8 2022</h6>
        <img id="card-img" src="https://i.kym-cdn.com/entries/icons/original/000/033/421/cover2.jpg" alt="Mr. West">
      </div>
      <a href="https://youtube.com" class="stretched-link"></a>
    </div>
</div>