<div class="card mx-auto border-top-0" style="width: 70rem;">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
            <div class="col-md-2 card-content">NEWS</div>
            <div class="col-md-10"><hr/></div>
        </div>
        <h5 class="card-title">Nirvana Created A Quiet Masterpiece With "Something In The Way"</h5>
        <h6 class="card-desc card-subtitle mb-2">Read our Classic Song Breakdown of the cryptic gem that soundtracks ‘The Batman.’</h6>
        <h6 class="card-author card-subtitle mb-2">by Leah Degrazia / </h6>
        <h6 class="card-date card-subtitle mb-2 text-muted">Mar 8 2022</h6>
      </div>
      <div class="col-md-7">
        <img id="card-img" src="https://wallpapercave.com/wp/wp2611259.jpg">
      </div>
      <a href="https://youtube.com" class="stretched-link"></a>
    </div>
</div>