<div class="card mx-auto border-0" style="width: 70rem;">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
            <div class="col-md-2 card-content">NEWS</div>
            <div class="col-md-10"><hr/></div>
        </div>
        <h5 class="card-title">Kendrick Lamar And Mike WiLL Made-It Combined Superpowers On “HUMBLE.”</h5>
        <h6 class="card-desc card-subtitle mb-2">Read a Classic Song Breakdown of Kendricks 2017 smash.</h6>
        <h6 class="card-author card-subtitle mb-2">by Ken Partridge / </h6>
        <h6 class="card-date card-subtitle mb-2 text-muted">Mar 23 2022</h6>
      </div>
      <div class="col-md-7">
        <img id="card-img" src="/assets/humble-article.jpg">
      </div>
      <a href="https://youtube.com" class="stretched-link"></a>
    </div>
</div>